<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div action="/about" class="contact">
<%- include("partial/header")%>
<h1>about</h1>
<P><%= aboutpara %></P>
<%- include("partial/footer")%>
 </div></body>
</html>