
    <form action="/compose" method="post">
        <%- include("partial/header")%>
        <h1> Compose </h1>
        <h3>Tiltle</h3>
        <input type="text" class="form-control" name="Title">
        <h3>Post</h3>
        <textarea type="text" class="form-control" name="Postbody" ></textarea>
        <button class="btn btn-primary" type="submit" name="submit" style="margin-top: 15px;">Publish</button>
        <%- include("partial/footer")%>
    </form>
  


